<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EthioMovie</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/4-col-portfolio.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">ethiomovie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/about}">About
              <span class="sr-only">(current)</span>
            </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="#">Signup/Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">About As
        <!--<small>Secondary Text</small>-->
      </h1>

     <!--<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">-->
         <!-- <div class="card h-100">-->           
            <!--<div class="card-body">-->
              <!--<h4 class="card-title">
                <a href="#">Project Two</a>
              </h4>-->
              <div>
              <p class="card-text">We are trying to make a web site for our country (Ethiopian film industry) that
                                  enable the movie fans to get the latest movies released, to get description about
                                  specific movies.
                                  The site will contain movie poster, name of Actors, little description about the
                                  movie and trailer.
                                  In this website that also show the coming up movies. this site use to benefited to
                                  Ethiopian movie funs which we can this know in our country the movies will
                                  download direct from Youtube so there is no site in Ethiopia like this.
                                  To get highlight understanding about this site, we can name as an example of
                                  other sites that are lunched for specific task.
                                  So we like to work or do this web site to benefit or to easy to get Ethiopian film
                                  to the users.</p>
            </div>
          
        <!--</div>-->
        
          <div style="padding: 100px;padding-left: 80px;padding-bottom: 50px;">
            
              <h2 class="card-title" >Contact as</h2>

             <P>Phone number: +2519286790 </P>
             <a href = "#">Email:Ethiomovie991@gmail.com</a>
          </div>
        
        </div>
      
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <h4 style="color: #0066ff;">Follow as </h4>

        <a href="#"><img class="card-img-top" src="images/dd.jfif" alt=""style="width:20px;height:20px;" ></a>
        <a href="#"><img class="card-img-top" src="ff.jfif" alt=""style="width:20px;height:20px;" ></a>
        <a href="#"><img class="card-img-top" src="images/vhc.png" alt=""style="width:20px;height:20px;" ></a>
        <a href="#"><img class="card-img-top" src="images/images.png" alt=""style="width:20px;height:20px;" ></a>
      
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
